@using System.Data
@model DataTable

@if (Model == null || Model.Rows.Count == 0)
{
    <div class="alert alert-warning">
        Data PO belum ada
    </div>
}


<a asp-action="Create" class="btn btn-primary mb-2">Buat PO</a>

<h3>Purchase Order List</h3>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
        <th>No</th>
        <th>No PO</th>
        <th>Tanggal</th>
        <th>Supplier</th>
        <th>Status</th>
        <th width="220">Action</th>


    </tr>
    </thead>
    @foreach ( DataRow row in Model.Rows)
    {
        <tr>
            <td>@row["POId"]</td>
            <td>@row["PONumber"]</td>
            <td>@row["SupplierName"]</td>
            <td>@Convert.ToDateTime(row["PODate"]).ToString("dd/MM/yyyy")</td>
            <td>@row["Status"]</td>
            <td>
                <!-- OUTSTANDING -->
                <a href="/PurchaseOrder/Outstanding/@row["POId"]"
                   class="btn btn-warning btn-sm">
                    Outstanding
                </a>
            </td>
        </tr>
    }
</table>
