@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Outstanding Purchase Order";
    DataRow header = ViewBag.Header as DataRow;
}

<div class="d-flex justify-content-end">
    <a href="/PurchaseOrder/AllOutstandingDetail" class="btn btn-warning btn-sm">View All Outstanding</a>
    
</div>

@if (header != null)
{
    <h4>Outstanding - @header["PONumber"]</h4>
}
else
{
    <p class="text-danger">PO tidak ditemukan</p>
}



<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Item</th>
            <th class="text-end">PO Qty</th>
            <th class="text-end">Received</th>
            <th class="text-end">Outstanding</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow r in Model.Rows)
        {
            <tr>
                <td>@r["ItemName"]</td>
                <td class="text-end">@r["POQty"]</td>
                <td class="text-end">@r["ReceivedQty"]</td>
                <td class="text-end fw-bold text-danger">
                    @r["OutstandingQty"]
                </td>
            </tr>
        }
        @if (Model.Rows.Count == 0)
        {
            <tr>
                <td colspan="4" class="text-center text-muted">
                    Tidak ada Outstanding
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/PurchaseOrder" class="btn btn-secondary">
    Kembali
</a>
