@using System.Data
@model DataRow


<h4>Goods Receipt</h4>

<form asp-action="Save" method="post">

    <!-- HIDDEN DATA -->
    <input type="hidden" name="POId" value="@Model["POId"]" />
    <input type="hidden" name="PODetailId" value="@Model["PODetailId"]" />
    <input type="hidden" name="ItemId" value="@Model["ItemId"]" />

    <div class="mb-3">
        <label>PO Number</label>
        <input class="form-control" value="@Model["PONumber"]" readonly />
    </div>

    <div class="mb-3">
        <label>Item</label>
        <input class="form-control" value="@Model["ItemName"]" readonly />
    </div>

    <div class="mb-3">
        <label>Outstanding Qty</label>
        <input class="form-control" value="@Model["OutstandingQty"]" readonly />
    </div>

    <!-- BUTTON OPEN MODAL -->
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#receiptModal">
        Receipt
    </button>

    <!-- MODAL INPUT (TANPA PREVIEW) -->
    <div class="modal fade" id="receiptModal" tabindex="-1">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Goods Receipt</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">

                    <div class="mb-3">
                        <label>Qty Receipt</label>
                        <input type="number"
                               name="Qty"
                               class="form-control"
                               min="1"
                               max="@Model["OutstandingQty"]"
                               required />
                    </div>

                    <div class="mb-3">
                        <label>Warehouse</label>
                        <select name="WarehouseId" class="form-control">
                            <option value="">-- Pilih Gudang --</option>

                            @if (ViewBag.Warehouses != null)
                            {
                                foreach (DataRow w in ((DataTable)ViewBag.Warehouses).Rows)
                                {
                                    <option value="@w["WarehouseId"]">
                                        @w["WarehouseName"]
                                    </option>
                                }
                            }
                        </select>
                    </div>

                    <div class="mb-3">
                        <label>Location</label>
                        <select name="LocationId" class="form-control" required>
                            <option value="">-- pilih lokasi --</option>
                            @foreach (DataRow l in ((DataTable)ViewBag.Locations).Rows)
                            {
                                <option value="@l["LocationId"]">@l["LocationName"]</option>
                            }
                        </select>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        Simpan Goods Receipt
                    </button>
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Batal
                    </button>
                </div>

            </div>
        </div>
    </div>

</form>
